/* -------------------------------------------------------- */
/* BASIC SETUP */
/* -------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #fff;
  line-height: 1.7;
  font-weight: 300;
  color: #555;
  font-family: 'Helvetica Neue', "Helvetica", 'Arial', sans-serif !important;
  text-rendering: optimizeLegibility;
  font-size: 62.5%; 
  padding-top: 2em;
  padding-bottom: 2em;
}

img {
  max-width: 100%; }

/* -------------------------------------------------------- */
/* LANDING*/
/* -------------------------------------------------------- */
body {
  background-image: linear-gradient(to right, rgba(210, 102, 83, 0.5), rgba(36, 67, 83, 0.5)), url(../img/hero1.JPG);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  min-height: 100vh;
  color: #fff;}

/* -------------------------------------------------------- */
/* LANDING HEADER*/
/* -------------------------------------------------------- */
.header .logo {
  width: 50%;
  max-width: 150px; }

.header .lead {
  font-size: .83rem; }

.text-block {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  margin: 0 auto;
  width: 90%; }

.social-icons {
  padding: 0;
  text-align: center;
  /* position: fixed; */
  margin: 0 auto;
  width: 100vw;
  /* top: calc(100vh - 5rem); */
  list-style: none;
  font-size: 1.5rem; }
  .social-icons li {
    display: inline-block;
    margin-right: .5rem; }
  .social-icons a:link,
  .social-icons a:visited {
    color: #fff; }
  .social-icons a:hover,
  .social-icons a:active {
    opacity: .8; }

.cta {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1em;
  padding-top: .5rem;
  margin-bottom: .5rem;
  border-bottom: 1px solid #fff;
  padding-bottom: 0; }

.soon {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding-top: 4rem;
  padding-bottom: 3rem;
}

@media only screen and (min-width: 768px) {
  .header .logo {
    margin-bottom: 6rem; }
  .header .lead {
    font-size: 1.1rem; }
  .text-block {
    width: 60%; } }

@media only screen and (min-width: 1024px) {
  .header .logo {
    padding-top: 2rem; }
  .header .lead {
    font-size: 1rem; }
  .header .text-block {
    top: 50%; } }

@media only screen and (min-width: 1200px) {
  .header .lead {
    font-size: 1.2rem; } }
