@import 'variables';
@import 'base';


/* -------------------------------------------------------- */
/* LANDING*/
/* -------------------------------------------------------- */

.fullscreen-wrap {
    background-image: linear-gradient(to right, rgba(#D26653, .5), rgba(#244353, .5)), url(../img/hero1.JPG);
    background-size: cover;
    background-position: center; 
    width: 100vw;
    height: 100vh;
    color: $white;
    position: relative;
}

/* -------------------------------------------------------- */
/* LANDING HEADER*/
/* -------------------------------------------------------- */

.header {
    .logo {
        padding-top: 2rem;
        padding-bottom: 8.5%;
        width: 50%;
        max-width: 200px;
    }
    .lead {
        font-size: .83rem;
    }
}

.text-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

.social-icons {
    padding: 0;
    text-align: center;
    position: fixed;
    margin: 0 auto;
    width: 100vw;
    top: calc(100vh - 5rem);
    list-style: none;
    font-size: 1.5rem;
    

    li {
        display: inline-block;
        margin-right: .5rem;
    }

    a:link,
    a:visited {
        color: $white;
    }

    a:hover,
    a:active {
        opacity: .8;
    }
}

.cta {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-top: 1rem;
    border-bottom: 3px solid $white;
    padding-bottom: 0;
}

@import 'responsive';
